.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.arc path {
	stroke: #fff;
	margin-left: 1550px;

}

svg {
	float: left;
	margin-left: 120px;
}

.suite {
	margin-top: 50px;
	margin-left:500px;
	margin-right: 0;
	font-size: 20px;
	text-decoration: underline;
}

.payment {
	margin-top: 1200px;
	margin-left: 500px;
	font-size: 20px;
	text-decoration: underline;
}